<body>
	<h1>
	Evaluacion
		<% if @evaluation.gestion == 1 %>I/<%end%>
		<% if @evaluation.gestion == 2 %>II/<%end%>
		<%= @evaluation.created_at.strftime("%Y")%>
	</h1>
  <h2>
    <%= @user.username %>
  </h2>
	<table class='table table-bordered'>
    <!--Fila 1/Nombres-->
    <tr>
      <% @evaluation.works.each do |work| %>
        <th class='success'><%= work.name %></th>
      <%end%>
      <th class='success'>Evaluacion continua</th>
      <th class='success'>Evaluacion final</th>
    </tr>
    <!--Fila 2/Nota total-->
    <tr>
      <% @evaluation.works.each do |work| %>
        <th class='success'><%= work.nota_total %></th>
      <%end%>
      <th class='success'>50</th>
      <th class='success'>50</th>
    </tr>
    <!--Fila 3/Nota-->
    <tr>
      <% @evaluation.works.each do |work| %>
        <td class='active'><%= work.nota %></td>
        <% @evaluation.continuous_evaluation = @evaluation.continuous_evaluation + work.nota %>
      <%end%>
      <th class='active'><%= @evaluation.continuous_evaluation %></th>
      <th class='active'><%= @evaluation.final_evaluation %></th>
    </tr>
    <!--Fila 4/Fecha-->
    <tr>
      <% @evaluation.works.each do |work| %>
        <td class='warning'><%= work.created_at.strftime("%d/%m/%Y")%><br></td>
      <%end%>
    </tr>
    <!--Fila 5/Opciones docente-->
    <% if current_user.rol == 'professor' %>
      <tr>
        <% @evaluation.works.each do |work| %>
          <td class='info'>
            <%= link_to 'Ingresar nota', edit_evaluation_work_path(@evaluation,work), :class => 'btn btn-xs btn-warning' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</body>