<h1>Evaluacion continua</h1>
<table class='table table-bordered'>
  <tr>
    <% @works.each do |work| %>
    <th class='success'><%= work.name %></th>
    <%end%>
    <th class='success'>Total</th>
  </tr><tr>
    <% @work.each do |work| %>
    <th class='success'><%= work.nota_total %></th>
    <%end%>
    <th class='success'>50</th>
  </tr><tr>
    <% @work.each do |work| %>
    <td class='active'><%= work.nota %>0</td>
    <%end%>
    <th class='active'>0
      <% @work.each do |work| %>
        <%= work.nota %>
      <%end%>
    </th>
  </tr><tr>
    <% @work.each do |work| %>
    <td class='warning'><%= work.created_at.strftime("%d/%m/%Y")%><br></td>
    <%end%>
  </tr><tr>
    <% @work.each do |work| %>
    <td class='info'> 
      <%= link_to 'Presentaciones',  [work.course, work], method: :show %></br>
      <%= link_to 'Modificar',  [work.course, work], method: :edit  %>
      <%= button_to 'Elminar',  [work.course, work], method: :delete, :class => 'btn btn-xs btn-danger' %></td>
    <%end%>
  </tr>
 </table> 
<h2>Registrar trabajo/evaluacion</h2>
<%= form_for ([@course, @work.build]) do |f| %>
  <div class="col-xs-4">
    <p><%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, :class => 'form-control' %>
    <p><%= f.label :nota_total %>
    <%= f.text_field :nota_total, :class => 'form-control' %>
    <p><%= f.label :created_at, 'Fecha' %>
    <%= f.date_select :created_at %>
    <p><%= f.submit 'Registrar', :class => 'btn btn-lg btn-success' %>
  </div>
<% end %>